body {
  background-color: lightseagreen;
  color: Navy;
  font-family: helvetica;
}

.center {
  width: 30em;
  box-sizing: border-box;
  margin: auto;
  text-align: center; /*I need to figure out how to make the text center in a way that doesn't make my lists look weird*/
}

li {
  border: 1px solid red;
  text-align: left;
} /*This just made my list item looks a little better, but not centered with the entire page.*/
p {
  border: 1px solid red;
}
